<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplicaciones web con Python</title>
</head>
<body>
   <h1>Identificar cuantas veces se repite la palabra</h1>
    <form method="POST" action="/palabra/respuesta">
        <textarea name="texto" id = "texto" rows="10" cols="50">Ingresa la Frase</textarea>
        <br>
        <label for="word">Ingresa la palabra a buscar: </label>
        <input type="text" id="word" name="word">
        <br>
        <button type="submit">Enviar datos </button>
    </form>
</body>
</html>