<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practica 01</title>
</head>
<body>
   <h1>Aplicaciones web con Python </h1>
   <form action="/mayor">
     <button type="submit">Inciso A: Encontrar el numero mayor </button>
   </form>
   <form action="/palabra">
      <button type="submit">Inciso B: Identificar cuantas veces se repite la palabra </button>
   </form>
   <form action="/cuadratica">
     <button type="submit">Inciso C: Implementar la formula cuadratica </button>
   </form>
</body>
</html>
