<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplicaciones web con Python</title>
</head>
<body>
   <h1>Encontrar el numero mayor</h1>
    <form method="POST" action="/mayor/resultado">
        <label for="num1">Ingresa el Numero 1</label>
        <input type="number" name="num1" id="num1" value="num1">
        <br>
        <label for="num2">Ingresa el Numero 2</label>
        <input type="number" name="num2" id="num2" value="num2">
        <br>
        <label for="num3">Ingresa el Numero 3</label>
        <input type="number" name="num3" id="num3" value="num3">
        <br>
        <label for="num4">Ingresa el Numero 4</label>
        <input type="number" name="num4" id="num4" value="num4">
        <br>
        <label for="num5">Ingresa el Numero 5</label>
        <input type="number" name="num5" id="num5" value="num5">
        <br>
        <label for="num6">Ingresa el Numero 6</label>
        <input type="number" name="num6" id="num6" value="num6">
        <br>
        <label for="num7">Ingresa el Numero 7</label>
        <input type="number" name="num7" id="num7" value="num7">
        <br>
        <label for="num8">Ingresa el Numero 8</label>
        <input type="number" name="num8" id="num8" value="num8">
        <br>
        <label for="num9">Ingresa el Numero 9</label>
        <input type="number" name="num9" id="num9" value="num9">
        <br>
        <label for="num10">Ingresa el Numero 10</label>
        <input type="number" name="num10" id="num10" value="num10">
        <br>
        <button type="submit">Enviar datos </button>
    </form>
</body>
</html>